<div class="scf scf-topic" data-component-id="{{id}}" data-scf-component="social/forum/components/hbs/topic">
    <p class="scf-breadcrumb scf-quiet">{{i18n "Topics"}} &#187; <a href="{{pageInfo.basePageURL}}.html">{{i18n "Custom Forum"}}</a> &#187; {{subject}}</p> 
    <aside class="scf-topic-userinfo">
        <img class="scf-topic-avatar" src="{{author.largeAvatarUrl}}" alt="{{author.name}}" title="{{author.name}}"/>
        <p>
            <div class="scf-quiet"><a href="{{author.profileURL}}">{{author.name}}</a></div>
            <div class="scf-quiet">{{author.numberOfPosts}} {{i18n "Posts"}}</div>
        </p>
    </aside>
    <div class="scf-topic-col1">
        <div class="scf-js-topic-details">
            <p class="scf-js-comment-msg" data-translate-prop="jcr:description" data-translate-respath="{{id}}">
				<b>{{i18n "Content:"}} -  </b>
                {{#if configuration.isRTEEnabled}}
                 	{{{message}}}
                {{else}}
                    {{message}}
                {{/if}}
            </p>
        </div>
    </div>
</div>
